*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    height: 105vh;
   
}
.container-fluid{
    background: linear-gradient(45deg, rgb(5, 225, 119), rgb(79, 157, 225)) !important;
    width: 100%;
}


li.list-group-item{
    margin-top: -10px;
    background-color: rgb(13 202 240);
    border: none;
    font-size: 20px;
    padding-left: 0px;
}
li.list-group-item-1{
    padding-left: 0;
   padding-bottom: 5px;
    background-color: #198754;
    border: none;
    font-size: 20px;
    color: aliceblue;

    
}
ul li a{
    color: blueviolet;
    text-decoration: transparent;
}
ul li {
    list-style: none;
    font-weight: 400;
}
ul li a:hover{
    color: lightsalmon;
}

.nav-item{
    margin-left: 150px;
    font-size: 20px;
    font-weight: 500;
}
.nav-item:hover{
    color: #fff;
}
.nav-item a:hover{
    color: #fff;
}